 /* 
** A Totally Real Project by a total "Software Engineer"
@ author - Ngala21
*
*/

/* * {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
} */

.btn {
  background: red;
  color: white;

}

.navbar {
  display: flex;
}

.nav-menu {
  justify-content: space-between;
}

/* footer {
  margin-top: 5rem;
  font-weight: bold;
} */