 /* 
** A Totally Real Project by a total "Software Engineer"
@ author - Ngala21
*
*/
/* CSS RESET */
/* * {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  box-sizing: border-box;
} */
  
/* CSS VARIABLES */
/* .root {
  --g
} */

/* ===== General Styles ===== */
h2 {
  text-align: center;
}

.btn {
  background: red;
  color: white;
}

img {
  border-radius: 10px;
}

img::hover {
  border-radius: 3px solid red;
}

/* ===== GENERAL STYLES ====== */

/* ====== NAVIGATION BAR ===== */
.navbar {
  display: flex;
}

.nav-menu {
  justify-content: space-between;
}
/* ====== NAVIGATION BAR END ===== */

/* ===== INTRO SECTION ===== */

/* ===== INTRO SECTION END ===== */

/* ======== ABOUT ME ======= */
.my-works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5rem;
}

/* ======== ABOUT ME END ======= */

/* ======== PROJECTS SECTION ======= */
.test {
  background: blue;
  width: 100vh;
  height: 10vh;
  padding: 5rem;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

/* ======== PROJECTS SECTION END ======= */

/* ======== CONTACT SECTION ======= */

/* ======== CONTACT SECTION END ======= */

/* ======== FOOTER SECTION ======= */
/* .footer {
  margin-top: 5rem;
  font-weight: bold;
} */
/* ======== FOOTER SECTION END ======= */
